.selection{
  display: flex;
  align-items: center;
  background-color: red;
}
.choix{
  background-color: green;
  border-radius: 10%;
  width: 40vh;
  height: 40vh;
  padding: 5%;
  margin: 2.5%;
  max-width: 30%;
  /* max-width: 30% */
}
.choix img{
  max-height: 100%;
  max-width: 100%;
}
